Repository iqrf/iqrf-gateway-webapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Path conditions:
  build-docker:latest-amd64: any of: .gitlab-ci.yml, docker/latest/amd64.Dockerfile
  build-docker:latest-rpi: any of: .gitlab-ci.yml, docker/latest/rpi.Dockerfile
  build-docker:stable-amd64: any of: .gitlab-ci.yml, docker/stable/amd64.Dockerfile
  build-docker:stable-rpi: any of: .gitlab-ci.yml, docker/stable/rpi.Dockerfile
  build-docker:tests-buster: any of: .gitlab-ci.yml, docker/tests/buster.Dockerfile
  build-docker:tests-stretch: any of: .gitlab-ci.yml, docker/tests/stretch.Dockerfile

Refactor GitLab CI configuration
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Fix GitLab CI configuration
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Allow build failure of Docker image for Raspberry Pi
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Add SPI restart option into IQRF SPI configuration tool
  app/ConfigModule/forms/IqrfSpiFormFactory.php
  app/lang/config.en.neon
Due: none

Set IQRF Gateway Daemon's WS server URL via ENV variable
  app/IqrfNetModule/models/WebSocketClient.php
Due: none

Build new Docker images for each commit
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Remove PHP 7.2 from the testing Debian Buster image
  docker/tests/buster.Dockerfile
Due: build-docker:tests-buster

Remove build of Docker images for RPi (segfault) and update testing Docker images
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Update changelog
  CHANGELOG.md
Due: none

Workaround for a failing creation of a new MQTT connection due unset values (fix #113)
  app/ConfigModule/forms/MqttFormFactory.php
Due: none

Add form for sending a raw JSON DPA requests
  app/IqrfNetModule/config/config.neon
  app/IqrfNetModule/forms/SendJsonFormFactory.php
  app/IqrfNetModule/presenters/SendJsonPresenter.php
  app/IqrfNetModule/templates/Homepage/default.latte
  app/IqrfNetModule/templates/SendJson/default.latte
  app/IqrfNetModule/templates/SendJson/response.latte
  app/lang/iqrfnet.en.neon
  app/templates/sidebar.latte
Due: none

Update the installation wizard, add button to show some GW info in the installtion wizard
  app/InstallModule/presenters/CreateUserPresenter.php
  app/InstallModule/presenters/GatewayInfoPresenter.php
  app/InstallModule/presenters/InstallationPresenter.php
  app/InstallModule/templates/CreateUser/default.latte
  app/InstallModule/templates/GatewayInfo/default.latte
  app/InstallModule/templates/Homepage/default.latte
  app/lang/gateway.en.neon
  app/lang/install.en.neon
Due: none

Fix coding style
  CHANGELOG.md
  app/InstallModule/templates/GatewayInfo/default.latte
  app/InstallModule/templates/Homepage/default.latte
  app/lang/install.en.neon
Due: none

Build and upload Docker images after tests
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Fix a typo in GitLab CI's configuration
  .gitlab-ci.yml
Due: build-docker:latest-amd64, build-docker:latest-rpi, build-docker:stable-amd64, build-docker:stable-rpi, build-docker:tests-buster, build-docker:tests-stretch

Fix indents in composer file
  composer.json
Due: none

Fix coding style
  app/ConfigModule/forms/TraceFileFormFactory.php
  app/ConfigModule/models/GenericManager.php
  app/ConfigModule/models/SchedulerManager.php
  app/GatewayModule/models/InfoManager.php
  app/ServiceModule/models/IServiceManager.php
  app/ServiceModule/models/UnknownManager.php
Due: none

Fix templates for Tracer configuration tool
  app/ConfigModule/templates/Tracer/add.latte
Due: none

Fix Debian package dependencies
  debian/control
Due: none

Make from a custom shell manager (`App\CoreModule\Models\CommandManager`) an adapter for `symfony/process` (fix #132)
  app/CoreModule/models/CommandManager.php
Due: none

Update PHP dependencies
  composer.json
Due: none

Add prototype of IQRF Gateway Updater
  app/GatewayModule/config/config.neon
  app/GatewayModule/models/UpdaterManager.php
  app/GatewayModule/presenters/UpdaterPresenter.php
  app/GatewayModule/templates/Updater/default.latte
  app/lang/gateway.en.neon
Due: none

Fix coding style in IQRF Gateway Updater
  app/GatewayModule/presenters/UpdaterPresenter.php
Due: none

Fix coding style in lang files
  app/lang/gateway.en.neon
Due: none

Add gwmon customer ID to GW info, remove TR info from installation GW info
  app/GatewayModule/models/InfoManager.php
  app/GatewayModule/presenters/InfoPresenter.php
  app/GatewayModule/templates/Info/default.latte
  app/InstallModule/presenters/GatewayInfoPresenter.php
  app/InstallModule/templates/GatewayInfo/default.latte
  app/lang/gateway.en.neon
Due: none

Remove unused imports form installtion GW info presenter
  app/InstallModule/presenters/GatewayInfoPresenter.php
Due: none

Fix path to the gwmon customer ID
  app/GatewayModule/models/InfoManager.php
Due: none

Add link to IQRF Gateway updater into webapp's navigation
  app/CoreModule/templates/Homepage/default.latte
  app/GatewayModule/templates/Homepage/default.latte
  app/GatewayModule/templates/Updater/default.latte
  app/lang/gateway.en.neon
  app/templates/sidebar.latte
Due: none

Fix the Send JSON request form, add JSON schema validation for JSON requests to send
  app/CoreModule/config/config.neon
  app/CoreModule/models/JsonSchemaManager.php
  app/IqrfNetModule/config/config.neon
  app/IqrfNetModule/forms/SendJsonFormFactory.php
  app/IqrfNetModule/models/WebSocketClient.php
  app/IqrfNetModule/requests/ApiRequest.php
  app/IqrfNetModule/requests/DpaRequest.php
  app/config/config.neon
Due: none

Fix coding style in IQRF network module
  app/IqrfNetModule/config/config.neon
  app/IqrfNetModule/requests/ApiRequest.php
Due: none

Add a new rfMode detection
  app/GatewayModule/models/InfoManager.php
Due: none

Fix creation of JSON api request
  app/IqrfNetModule/requests/ApiRequest.php
Due: none

Fix getting information about the Coordinator
  app/GatewayModule/models/InfoManager.php
Due: none

Fix coding style in JSON API request
  app/IqrfNetModule/requests/ApiRequest.php
Due: none

Fix RF mopde parser
  app/GatewayModule/models/InfoManager.php
Due: none

Refactor board managers
  app/GatewayModule/models/DeviceTreeBoardInfoManager.php
  app/GatewayModule/models/DmiBoardInfoManager.php
  app/GatewayModule/models/IBoardInfoManager.php
  app/GatewayModule/models/InfoManager.php
  app/GatewayModule/models/IqrfBoardInfoManager.php
Due: none

Refactor JS, add ESLint
  .eslintrc.json
  package.json
  webpack.config.js
  www/dist/app.bundle.js
  www/dist/highlight.bundle.js
  www/js/app.js
  www/js/config/cdc.js
  www/js/config/scheduler.js
  www/js/config/spi.js
  www/js/config/uart.js
  www/js/iqrfApp.js
  www/js/iqrfNet/networkManager.js
  www/js/iqrfNet/sendPacket.js
Due: none
